/* src/App.css */
.container {
  width: 100%;
  padding: 20px;
}


/* Ensure the table is not hidden behind the navbar */
body {
  padding-top: 60px; /* Adjust based on your navbar height */
  margin-top: 5;
}

.table-container {
  margin-top: 20px;  /* Adjust this value if necessary */
}


.row {
  display: flex;
}

.col-lg-2 {
  width: 20%;
  background-color: #f8f9fa;
  padding: 20px;
  min-height: 100vh;
}

.col-lg-10 {
  flex-grow: 1;
  padding: 20px;
  min-height: 100vh;
  background-color: white;
}

/* Style for Sidebar Buttons */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
